.navbar {
    background-color: #fff !important;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 70px;
    width: 70px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.button-menu {
    transform: scale(0.8);
}

.container-collapse {
    text-align: center;
}

.links-collapse a{
    color: var(--blue);
    font-weight: 500;
}

.links-collapse a:hover {
    font-weight: 600;
    color: var(--blue);
}

@media screen and (min-width: 992px) {
    .navbar-collapse {
        flex-grow: 0;
    }
}