.modal, .modal-2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #000000b9;
    z-index: 10;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px #000;
}

.modal-2 .carrousel-container {
    max-width: 350px;
    padding: 10px;
    box-shadow: 0px 0px 20px #000;
    background-color: #fff;
    max-width: 330px;
    margin-bottom: 0;
}

.modal-2 .sede-carrousel-title {
    background-color: #fff;
    margin: 0;
    padding: 10px;
    border-bottom: none;
    color: #000;
    font-family: 'Roboto Mono', monospace;
}

.modal-2 span {
    background-color: #fff;
    color: #000;
}

.modal img{
    width: 100%;
    max-width: 350px;
}

.modal h3 {
    text-align: center;
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    color: var(--blue2);
    margin: 0;
    padding: 10px;
    border-bottom: none;
}

.hidden {
    display: none !important;
}

@media screen and (min-width: 576px) {
    .modal img{
        max-width: 550px;
        max-height: 400px;
        object-fit: contain;
    }

    .modal h3 {
        max-width: 400px;
    }

    .modal-2 .carrousel-container {
        max-width: 500px;
    }

    .modal-2 .carrousel-img img{
        max-width: 400px;
        max-height: 400px;
    }
}