.sede {
    padding: 10px 0 20px;
}

.sede-title {
    color: #fff;
    margin: 30px 0 0;
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.sede-description {
    padding: 20px;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    line-height: 25px;
    font-weight: 400;
}

.sede-description b {
    color: var(--yellow);
}

.sede span {
    text-align: center;
    display: block;
    color: #ffffff68;
    font-size: 14px;
}

.sede-buttons-container {
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    justify-content: space-evenly;
}

.sede-button {
    width: 140px;
    border: 2px solid var(--yellow);
    background-color: var(--blue);
    color: #fff;
    padding: 5px 0;
    border-radius: 15px;
    transition: all 0.4s;
}

.sede-button:hover {
    background-color: var(--yellow);
    color: var(--blue);
    font-weight: 600;
    transition: all 0.2s;
}

.sede-carrouseles {
    gap: 0 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.proyecto-terminado {
    min-width: 200px;
    max-width: 320px;
    min-height: 250px;
    margin: 20px 0 40px;
}

.proyecto-terminado h4 {
    text-align: center;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--yellow);
}

.proyecto-terminado img {
    width: 100%;
    object-fit: cover;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .proyecto-terminado {
        min-width: 400px;
    }

    .proyecto-terminado img {
        display: block;
        margin: 0 auto;
        height: 300px;
        max-width: 320px;
    }

    .sede-buttons-container {
        justify-content: center;
        gap: 40px;
    }

    .sede-description {
        font-size: 17px;
    }
}
