@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --blue: #0b0d3d;
  --blue2: #033F87;
  --yellow: #ffc809;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace; */

body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--blue);
}

.button {
  position: fixed;
  bottom: 0;
  z-index: 20;
  right: 0;
  margin: 25px 20px;
}

.button svg {
  box-shadow: 0 0 5px #0b0d3d;
  padding: 3px;
  width: 40px;
  height: 40px;
  background-color: #ffca0982;
  color: #0b0d3d;
  border: 2px solid #0b0d3d;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button svg {
    width: 45px;
    height: 45px;
  }
}